{% extends 'base.html.twig' %}

{% block title %}Série

{% endblock %}

{% block body %}
	<h1>{{ program.title }}</h1>
	<h3>{{ season.title }}</h3>
	<ul>
		<li>{{ episode.number}}/{{ episode.title }}
			<p>{{ episode.synopsis }}</p>
		</li>
	</ul>
{% endblock %}
