{% extends 'layout.html.twig' %}
{% block title %}New episode
{% endblock %}
{% block body %}
	<h1>New episode
		{{ episode.title }}
		of
		{{ season.title }}
		created</h1>
	<p>Hello, the new episode
		{{ episode.title }}
		has been created on Wild Series</p>
	<p>Synopsis :
		{{episode.synopsis }}</p>
	<a href="{{ path('app_season_show', {'id': season.id}) }}">Season</a>
{% endblock %}
